.container {
    margin-right: 10px;
    margin-left: 10px;
    max-width: 1200px;  /*or 950px*/ 
    background-color: white;    
}
.name {
    text-align: center;
}
#nav1 {
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
    vertical-align: initial;
    max-width: 256px;
    height: 100%;
}

#nav1 img {
    padding:10px;
}
.nav-item{
    padding-right: 10%;
    padding-left: 0;
}
.nav-item a {
    color: black;
}

.nav-item a:hover{
    color:grey;
}

.active a {
    font-weight: bold;
}

#c1 {
    padding-top: 10px;
    margin-left: 18%;
}

#panelGroup {
    /*align-items:inherit;*/
    display:block;
    position:relative;
    color: gray;
}

.panelText{
    padding: 10px;
    border:1px solid;
    border-color:lightgray;
}

.btn-success-panel {
    border: none;
    background-color: #f2f3f7;
    border-color: transparent;
    margin-bottom: 10px;
    margin-top: 10px;
}

.btn-success-panel:focus{
    box-shadow:none;
}
    .btn-success-panel:hover {
        outline: none;
    }
/*change color of expanded panel button section*/
button[aria-expanded="true"] {
    transition: .3s transform ease-in-out;
    color: white;
    background-color: #42DCA3;
    outline: none;
}
.collapse#panel{
    transition:ease 0.5s;
}

.carousel-inner img {
    height: auto;
    /*change here to modify carousel images' width*/
    width:inherit;
    margin: auto;
}

#buttonMenu {
    background-color: transparent;
}
/* Timeline */
/* The actual timeline (the vertical ruler) */
.timeline {
    float:left;
    position: relative;
    max-width: 1525px;
    margin: 0 auto;
}

    .timeline::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: deepskyblue;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }

/* Place the container to the left */
.left {
    left: 0;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: ghostwhite;
    position: relative;
    border-radius: 6px;
}
#researchTimeline .content {
    background-color: lemonchiffon;
}

/* Container around content */
.container_t {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 75%;
}

    /* The circles on the timeline */
    .container_t::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        left: 2px;
        background-color: white;
        border: 4px solid #FF9F55;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }

/* Make sure all circles are at the same spot */
.left::after {
    left: 15px;
}

.col-md-4 {
    padding-top: 10px
}

.img-circle {
    margin: 10px;
    border-radius: 50%;
    position:center;
    border: 2px;
    width: 175px;
    height: 175px;
}
.img-hover {
    left:-40px;
    margin: 35px;
    position: absolute;
    border: 2px;
    width: 100px;
    height: 100px;
}

/*overlay background color*/
.overlay {
    margin: 35px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: inherit;
    opacity: 0;
    width: inherit;
    height: inherit;
    background-color: dimgray;
    transition: ease-in 0.3s;
}

.img-hover:hover .overlay {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transform: scale(1.1);
    opacity: 0.50;
}

/*text*/
.text{
    opacity:0;
    font-size: 36px;
    color: black;
    position:relative;
    transform:translate(35,-35px);
}
/* Slide Up animation */
.SlideUp {
    height:0;
}

@keyframes SlideUp {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

#projectsText {
    position:absolute;
    top:-5px;
    height: 100%;
    margin: 0;
    left: 150px;
    overflow:hidden;
    animation: SlideUp 1s ease-out;
    max-width:100%;
}

#projectsText img {
    margin: 10px;
    display:block;
    max-width:90%;
}
/*change project title font size here*/
#projectsText b{
    font-size:16pt;
}

/*background for projects info*/
#background-a {
    width: 1050px;
    height: 1000px;
    float:right;
    left:10px;
    margin-top:10px;
    max-width:100%;
    /* change color here */
    background-color: honeydew;
}
#projects-overview {
    width: 1200px;
    height: 100%;
    display:block;
    left: 10px;
    padding:10px;
    max-width: 100%;
    /* change color here */
    background-color: lightgoldenrodyellow;
}
