.stackedit__html {
    margin-bottom: 180px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 750px;
    animation: fadeInRight 1s ease-out;
    

    
}

h1, h2, h3, h4, h5, h6 {

    margin: 1.8em 0;
    line-height: 1.33;

}
h1 {

    font-size: 2em;
    margin: .67em 0;

}

img {

    max-width: 100%;

}
img {

    border-style: none;

}
img {

    vertical-align: middle;
    border-style: none;

}
#project_1 {
    width:1100px;
    height: 100%;
    display: block;
    left: 10px;
    padding: 10px;
    max-width: 100%;
    background-color: #eee6ff;
    animation: fadeInRight 1s ease-out;
    border-style: solid;
    border-color: #8a00e6;

}
